.navbar{
  
  position: fixed;
  background-color: var(--bg-primary);
  transition: height 200ms ease;
}

.navbar-nav{
  font-size: 1rem;
  list-style: none;
  padding: 1.5rem;
  margin: 0;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;

}

.nav_item{
  height:100%;
}


.nav-link{
  display: flex;
  align-items: center;
  width: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover{
  filter: grayscale(0%) opacity(1);
  background : var(--bg-secondary);
  color: var(--text-secondary);
  height: 2rem;
}

.link-text{
  margin-top: 1rem;
}

.navbar:hover{
  
}

.navbar:hover .link-text{
  display: block;
}

@media only screen and (max-width: 600px){
  .navbar{
    right: 0;
    height: 25vh;
    width: 5rem;
  }

  .navbar-nav {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

@media only screen and (min-width: 600px) {
  .navbar{
    top: 0;
    height: 5rem;
    width: 100vw;
  }

  .navbar:hover .link-text{
  display: inline;
  transition: opacity var(--transition-speed);
}
}
*
{
  margin: 0;
  padding: 0;
 font-family: consolas;
 background-color: #000
}

@media screen and (min-width: 600px) {
  .wrapper {
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
  }
}

.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

section
{
  padding: 50px;
  background: #000;

}

section h2
{
  font-size: 2.5em;
  color: #fff;

}

section p
{
    font-size: 1.2em;
    color: #fff;

}

::-webkit-scrollbar
{
  width: 0;
}

#scrollpath
{
  position: fixed;
  top: 0;
  right:0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255,0.05);
}

#progressbar 
{

  position: fixed;
  top: 0;
  right:0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top,#008aff,#00ffe7);
  animation: animate 5s linear infinite;
}

@keyframes animate
{
  0%
  {
    filter: hue-rotate(0deg);
  }
  50%
  {
    filter: hue-rotate(360deg);
  }
}


#progressbar:before
{
  content: '';
  position: absolute;
  top: 0;
  right:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,#008aff,#00ffe7);
  filter: blur(10px)
}

#progressbar:after
{
  content: '';
  position: absolute;
  top: 0;
  right:0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,#008aff,#00ffe7);
  filter: blur(10px)
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  max-width: 800px;
  max-height: 800px;
  background: #000;
  -webkit-box-shadow: 0px 25px 500px -42px #fff;
          box-shadow: 0px 25px 500px -42px #fff;
  padding: 25px;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
}

.wrapper .image_box {
  margin-bottom: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper .image_box img {
  max-width: 800px;
  max-height: 800px;
  -webkit-transform: ;
          transform: ;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper .image_box:before {
  content: "";
  background-image: url('https://photos.app.goo.gl/iCsghp9jZzWPubkK8');
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 100%;
  top: -60px;
  left: -30%;
}

.wrapper .pTitle {
  color: #fff;
  text-align: center;
  font-size: 32px;
  -webkit-transform: translateY(130%);
          transform: translateY(130%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper .pTitle:before {
  content: "play";
  position: absolute;
  top: 50%;
  color: #fff;
  font-size: 100px;
  font-weight: 900;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.1;
  z-index: 0;
  text-align: center;
  width: 100%;
}

.wrapper .player {
  text-align: center;
  margin-top: 25px;
}

.wrapper .player .sizeLabel {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  margin-right: 15px;
}

.wrapper .player .sizeNumber {
  color: #000;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.wrapper .player .sizeNumber:hover {
  background-color: #cf3945;
  color: #fff;
  cursor: pointer;
}

.wrapper .colorAttr {
  text-align: center;
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .colorAttr .colorLabel {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  margin-right: 15px;
}

.wrapper .colorAttr .colorWhite {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #fff;
  padding: 5px;
  border-radius: 100%;
  margin: 0 5px;
}

.wrapper .colorAttr .colorBlue {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: blue;
  padding: 5px;
  border-radius: 100%;
  margin: 0 5px;
}

.wrapper .colorAttr .colorRed {
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: red;
  padding: 5px;
  border-radius: 100%;
  margin: 0 5px;
}

.wrapper .playNow {
  text-align: center;
  margin-top: 25px;
}

.wrapper .playNow a {
  color: #000;
  background: #fff;
  text-decoration: none;
  padding: 8px 20px;
  border-radius: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper .playNow a:hover {
  background-color: #cf3945;
  color: #fff;
}

.wrapper .hoverWrapper {
  -webkit-transform: translateY(130%);
          transform: translateY(130%);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.wrapper:hover img {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.wrapper:hover .image_box:before {
  left: -60%;
}

.wrapper:hover .hoverWrapper {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.wrapper:hover .pTitle {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}


  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }


